*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    /* background-image: url(back.JPG); */
    background-color: rgb(202, 201, 201);
    background-position: top;
}
.wholepage {
        width: 100%;
        margin-top: 0;
        padding-top: 0px;
}

.header {
        padding: 20px 160px;
        width: 100%;
        display: flex;
        align-items: center;
        float: left;
        justify-content: space-between;
}
.header-title {
    padding: 0px 10px;
    font-size: large;
}
.header-right > ul >li {
    display: inline; /* displays them next tio eachother same line */
    float: left;
    padding: 0 30px;
}
.header-right > ul > li>a {
    border-bottom: 2px solid ;
}
.header-right, a:link, a:visited {
    color: black;
    text-decoration: none;
    font-size: large;
}
.header-right, a:hover {
    color: purple;
}
.header-right, a:hover:active {
    color: rgb(218, 167, 218);
}

.heropage {
    padding: 70px 40% 70px 200px;
    display: auto;
    font-size: 25px;
}
.hero-title {
    padding: 30px 0px;
}
.hero-sous-titre {
    padding: 10px 0px;
    color: purple;
}
.hero-paragraph {
    color: rgb(104, 38, 104);
    padding-top: 40px;
}
.hero-right {
    display: inline-block;
    box-sizing: border-box;
    width: 80%;
}
.hero-picture {
    margin-left: 60px;
    display: inline-block;
    box-sizing: border-box;
    width: 10%;
}

.achievements {
    padding: 50px 200px;
    display: auto;
    font-size: 25px;
}
.achievements-title{
    padding-bottom: 50px;
}
.cards{
    display: block;
    width: 100%;
    margin: 0px 50px;
}
.card1 {
    display: inline-block;
    float: left;
    width: 40%;
}
.achievements-picture {
    margin-left: 20px;
    border: 5px solid grey ;
    display: inline-block;
    box-sizing: border-box;
    width: 80%;
}
/* .card2 {
    padding: 0px 10px;
    display: inline;
    display: center;
    width: 30%;
} */
.card3{
    display: inline-block;
    box-sizing: border-box;
    width: 50%;
}
.achievements-p {
    margin-left: 30px;
    font-size: 22px;
    color: rgb(104, 38, 104);
}

.competences{
    margin: 300px 200px 0px 200px;
    padding-bottom: 100px;
    display: auto;
    font-size: 25px;
}
.competences-body {
    padding-left: 60px;
    font-size: 22px;
    color: rgb(104, 38, 104);
}

.contactme {
    padding: 30px 200px;
    display: auto;
    font-size: 25px;
}
